/* sabka default margin aur padding hata diya */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* main background image */
.main-box{
    background-image: url("camera.png");

    height: 100vh;

    background-size: cover;

    background-position: center;
}

/* open menu icon */
.btn-one i{
    color: white;

    font-size: 30px;

    font-weight: 700;

    position: absolute;

    left: 16px;

    line-height: 60px;

    cursor: pointer;

    transition: all 0.3s linear;

    z-index: 1000;
}

/* sidebar */
.sidebar_menu{
    position: fixed;

    left: -320px;

    height: 100vh;

    width: 320px;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(10px);

    box-shadow: 0 0 8px rgba(255,255,255,0.2);

    transition: all 0.4s linear;
}

/* top logo box */
.logo{
    position: absolute;

    width: 100%;

    height: 60px;

    line-height: 60px;

    background: rgba(255,255,255,0.08);

    box-shadow: 0 2px 8px rgba(255,255,255,0.2);

    border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* logo text */
.logo a{
    position: absolute;

    left: 20px;

    color: white;

    text-decoration: none;

    font-size: 28px;

    font-weight: 500;

    letter-spacing: 1px;
}

/* close button */
.btn-two i{
    color: grey;

    font-size: 25px;

    position: absolute;

    left: 275px;

    line-height: 60px;

    cursor: pointer;

    transition: all 0.3s linear;
}

/* menu section */
.menu{
    position: absolute;

    width: 100%;

    top: 80px;
}

/* har menu item */
.menu li{
    margin-top: 6px;

    padding: 16px 20px;

    list-style: none;

    transition: all 0.3s linear;
}

/* menu icons */
.menu i{
    color: white;

    font-size: 20px;

    padding-right: 12px;
}

/* menu text */
.menu a{
    color: white;

    text-decoration: none;

    font-size: 20px;
}

/* hover effect */
.menu li:hover{
    border-left: 4px solid white;

    background: rgba(255,255,255,0.1);

    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}

/* social media icons */
.social-media{
    position: absolute;

    left: 25%;

    bottom: 40px;
}

/* social icon style */
.social-media i{
    color: white;

    opacity: 0.5;

    padding: 0 6px;

    font-size: 20px;

    transition: all 0.3s linear;
}

/* social icon hover */
.social-media i:hover{
    opacity: 1;

    transform: scale(1.3);
}

/* checkbox hide */
#check{
    display: none;
}

/* open button hover */
.btn-one i:hover{
    font-size: 35px;
}

/* close button hover */
.btn-two i:hover{
    font-size: 30px;
}

/* checkbox checked hone pe sidebar open */
#check:checked ~ .sidebar_menu{
    left: 0;
}

/* sidebar open hote hi open button hide */
#check:checked ~ .btn-one{
    opacity: 0;
}

/* sidebar open hote hi close button show */
#check:checked ~ .sidebar_menu .btn-two{
    opacity: 1;
}